body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  margin: 0 auto;
}

/* header */
header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}

.header-cont {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logoheader-span {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-style: normal;
  margin-left: 320px;
}
.contact-list {
  display: flex;
  gap: 40px;
  padding-inline-start: 0px;
}

.contact-item {
}

.contact-link {
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* header */
/* main */
.main {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: 330px;
  margin-right: 330px;
  max-width: 496px;
}

.main-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin-left: 494px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* main */
/* top */
.top {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.top-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-inline-start: 0px;
}

.top-item {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
}

.top-subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.top-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* top */
/* team */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;

  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
}
.team-img {
}
.team-cont {
  padding: 32px 0;
  justify-content: center;
  align-items: center;
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.team-text {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
}

/* team */
/* port */

.port {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.port-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.port-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  /* margin-bottom: 72px; */
  padding-inline-start: 0px;
  flex-wrap: wrap;
}

.port-cont {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}
.port-item {
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
}

.port-img {
}

.port-subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.port-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* port */
/* footer */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logofooter {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.logofooter-span {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
/* footer */
